.MainDash{
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media screen and (max-width: 1200px) {
    .MainDash{
        justify-content:flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px)
{
    .MainDash{
        align-items: center;
    }
}



.dropdown-container {
  margin: 16px 0;
  display: flex;
  justify-content: flex-start;
}

.custom-dropdown {
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  transition: border 0.2s ease-in-out;
}

.custom-dropdown:hover,
.custom-dropdown:focus {
  border-color: #888;
}

