.pengajuan-container {
    padding: 20px;
    background: none;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 40px auto;
    color: #000000;
    position: relative;
    text-align: center;
  }
  
  .pengajuan-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .ajukan-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #65B741;
    color: #FFFFFF;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .ajukan-button:hover {
    background-color: #4CAF50;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .ajukan-button:active {
    background-color: #45a049;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  