/* src/MainDash/MainDash.css */

.MainDash {
    display: flex;
    flex-direction: column; /* Susun elemen dalam kolom */
    align-items: stretch; /* Pastikan elemen mengisi lebar penuh */
    padding: 1rem; /* Tambahkan padding untuk ruang di sekitar konten */
    box-sizing: border-box; /* Pastikan padding tidak menambah lebar total */
  }
  
  @media screen and (max-width: 768px) {
    .MainDash {
      flex-direction: column; /* Susun elemen dalam kolom pada layar kecil */
      padding: 0.5rem; /* Kurangi padding pada layar kecil */
    }
  }
  
  @media screen and (max-width: 480px) {
    .MainDash {
      padding: 0.25rem; /* Kurangi padding lebih lanjut pada layar sangat kecil */
    }
  
    h1 {
      font-size: 1.5rem; /* Ukuran font lebih kecil untuk judul pada layar kecil */
      margin-top: 20px; /* Margin atas lebih kecil */
    }
  }
  


  .dropdown-container {
  margin: 16px 0;
  display: flex;
  justify-content: flex-start;
}

.custom-dropdown {
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  transition: border 0.2s ease-in-out;
}

.custom-dropdown:hover,
.custom-dropdown:focus {
  border-color: #888;
}
