.RightSide {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding-top: 2rem;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

/* Section inside RightSide */
.section {
  width: 100%;
}

.section-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

/* Responsiveness */
@media screen and (max-width: 1200px) {
  .RightSide {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .RightSide {
    width: 100%;
    margin-top: 0;
    padding-top: 1rem;
  }

  .RightSide > .section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-title {
    text-align: center;
  }
}
