.works {
  padding: 0 3rem; /* Padding kiri dan kanan */
  display: flex; /* Menggunakan flexbox untuk tata letak */
  height: 90vh; /* Tinggi default */
  margin-top: 10rem; /* Margin atas */
  align-items: center; /* Pusatkan elemen secara vertikal */
  justify-content: space-between; /* Menyebar elemen ke kiri dan kanan */
}

/* Left side */
.awesome {
  display: flex; /* Menggunakan flexbox untuk elemen awesome */
  flex-direction: column; /* Susun elemen dalam kolom */
  position: relative; /* Posisi relatif untuk elemen */
}

.awesome > :nth-child(1) {
  color: var(--black); /* Warna untuk elemen pertama */
  font-size: 2.5rem; /* Ukuran font untuk elemen pertama */
  font-weight: bold; /* Menebalkan teks */
}

.awesome > :nth-child(2) {
  color: var(--orange); /* Warna untuk elemen kedua */
  font-size: 2.5rem; /* Ukuran font untuk elemen kedua */
  font-weight: bold; /* Menebalkan teks */
}

.awesome > :nth-child(3) {
  color: var(--gray); /* Warna untuk elemen ketiga */
  font-size: 14px; /* Ukuran font untuk elemen ketiga */
  margin-top: 1rem; /* Margin atas untuk elemen ketiga */
}

.s-button {
  width: 8rem; /* Lebar tombol */
  height: 2rem; /* Tinggi tombol */
  margin-top: 4rem; /* Margin atas untuk tombol */
}

/* Right side */
.w-right {
  flex: 1; /* Mengisi ruang yang tersedia di sebelah kanan */
  display: flex; /* Menggunakan flexbox untuk elemen kanan */
  justify-content: center; /* Pusatkan elemen secara horizontal */
  align-items: center; /* Pusatkan elemen secara vertikal */
  position: relative; /* Posisi relatif untuk elemen kanan */
  margin-left: 20%; /* Geser elemen kanan ke kiri */
}

.w-mainCircle {
  position: relative; /* Posisi relatif untuk lingkaran utama */
  width: 18rem; /* Lebar lingkaran utama */
  height: 18rem; /* Tinggi lingkaran utama */
  border-radius: 100%; /* Membuat lingkaran */
  box-shadow: var(--smboxShadow); /* Bayangan untuk lingkaran utama */
  background: white; /* Latar belakang putih */
  z-index: 2; /* Z-index untuk menempatkan di atas */
}

.w-mainCircle > * {
  position: absolute; /* Posisi absolut untuk elemen dalam lingkaran */
}

.w-mainCircle > :nth-child(1) {
  top: -3rem; /* Posisi untuk elemen pertama */
  left: 6rem; /* Posisi untuk elemen pertama */
}

.w-mainCircle > :nth-child(2) {
  left: -3rem; /* Posisi untuk elemen kedua */
  top: 5rem; /* Posisi untuk elemen kedua */
}

.w-mainCircle > :nth-child(3) {
  left: 6rem; /* Posisi untuk elemen ketiga */
  top: 5rem; /* Posisi untuk elemen ketiga */
}

.w-mainCircle > :nth-child(4) {
  left: 15rem; /* Posisi untuk elemen keempat */
  top: 5rem; /* Posisi untuk elemen keempat */
}

.w-mainCircle > :nth-child(5) {
  left: 6rem; /* Posisi untuk elemen kelima */
  top: 13rem; /* Posisi untuk elemen kelima */
}

.w-secCircle {
  width: 6rem; /* Lebar lingkaran sekunder */
  height: 6rem; /* Tinggi lingkaran sekunder */
  position: absolute; /* Posisi absolut untuk lingkaran sekunder */
  border-radius: 100%; /* Membuat lingkaran */
  border: 5px solid #ebebeb; /* Border untuk lingkaran sekunder */
  display: flex; /* Menggunakan flexbox untuk pusatkan konten */
  align-items: center; /* Pusatkan konten secara vertikal */
  justify-content: center; /* Pusatkan konten secara horizontal */
  background: white; /* Latar belakang putih */
  box-shadow: var(--smboxShadow); /* Bayangan untuk lingkaran sekunder */
}

.w-secCircle > img {
  transform: scale(0.6); /* Skala gambar dalam lingkaran sekunder */
}
.w-backCircle {
  position: absolute; /* Posisi absolut untuk lingkaran belakang */
  height: 13rem; /* Tinggi lingkaran belakang */
  width: 13rem; /* Lebar lingkaran belakang */
  border-radius: 100%; /* Membuat lingkaran */
  z-index: 1; /* Z-index untuk menempatkan di bawah */
}

.blueCircle {
  background: #34b819; /* Warna untuk lingkaran biru */
  left: 10%; /* Posisikan di tengah */
  top: -2rem; /* Posisi atas untuk lingkaran biru */
}

.yellowCircle {
  background: #f5c32c; /* Warna untuk lingkaran kuning */
  left: 10%; /* Posisikan di tengah */
  top: 7rem; /* Posisi atas untuk lingkaran kuning */
}

/* Responsive adjustments */
@media screen and (max-width: 480px) {
  .works {
    flex-direction: column; /* Susun elemen dalam kolom pada layar kecil */
    height: 55rem; /* Tinggi tetap untuk layar kecil */
    padding: 0; /* Hapus padding pada layar kecil */
    gap: 5rem; /* Jarak antar elemen lebih kecil */
    margin-top: 0rem; /* Hapus margin atas pada layar kecil */
  }

  .w-right {
    display: flex; /* Tampilkan elemen kanan */
    align-items: flex-start; /* Pusatkan elemen secara vertikal */
    justify-content: start; /* Pusatkan elemen secara horizontal */
    transform: scale(0.7); /* Skala elemen kanan */
    margin-left: 0; /* Hapus margin kiri pada layar kecil */
  }

  .w-mainCircle {
    position: static; /* Ubah posisi menjadi statis pada layar kecil */
  }

  .w-backCircle {
    left: 8rem !important; /* Posisi kiri untuk lingkaran belakang */
  }
}
