.footer {
  display: flex;
  align-items: center;
  margin: -0.5rem -5rem;
  position: relative;
  margin-top: 4rem;
}

.f-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin-top: 6rem;
  gap: 4rem;
  color: white;
}

.f-content span {
  margin-top: 10rem; /* Tambahan agar agak turun di tampilan normal */
}

.f-icons {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 500px) {
  .f-content {
    transform: scale(0.5);
  }

  .f-content span {
    margin-top: 0; /* Reset agar posisi kembali seperti semula di tampilan kecil */
  }
}
